<ion-header>
  <ion-toolbar>
    <ion-title>Métodos de pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="move"></ion-icon>
    <ion-label>Pix </ion-label>
  </ion-item>
<br>
  <ion-item>
    <ion-icon name="card"></ion-icon>
  <ion-label>Cartão de crédito </ion-label>
</ion-item>
<br>
<ion-item>
  <ion-icon name="card"></ion-icon>

<ion-label>Cartão de débito </ion-label>
</ion-item>
<br>
<ion-item>
  <ion-icon name="car"></ion-icon>
<a href="/pass"><ion-label>LSN PASS </ion-label></a>
</ion-item>
  
  </ion-list>
  

</ion-content>
