<ion-header>
  <ion-toolbar>
    <ion-title>cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="cadastro()" > 
    <!-- [formGroup]="formGroup" -->

    <!-- <ion-input class="form" type="text" name="email" placeholder="E-mail:">
      <del>{{usuario.email}}</del>
    </ion-input>

    <ion-input class="form" type="text" name="celular" placeholder="Celular:">
      <del>{{usuario.celular}}</del>
    </ion-input>

    <ion-input class="form" type="text" name="endereco" placeholder="Endereço:">
      <del>{{usuario.endereco}}</del>
    </ion-input>

    <ion-input class="form" type="text" name="cep" placeholder="CEP:">
      <del>{{usuario.cep}}</del>
    </ion-input>

    <ion-input class="form" type="text" name="dataNasc" placeholder="Data de Nascimento:">
      <del>{{usuario.dataNasc}}</del>
    </ion-input>

    <ion-input class="form" type="text" name="descricao" placeholder="Descrição:">
      <del>{{usuario.decricao}}</del>
    </ion-input> -->

    <ion-input class="form" type="text" name="email" placeholder="E-mail:" [ngModel]="usuario.email"> </ion-input>
    <ion-input class="form" type="text" name="celular" placeholder="Celular:" [ngModel]="usuario.celular"> </ion-input>
    <ion-input class="form" type="text" name="endereco" placeholder="Endereço:" [ngModel]="usuario.endereco"> </ion-input>
    <ion-input class="form" type="text" name="cep" placeholder="CEP:" [ngModel]="usuario.cep"></ion-input>
    <ion-input class="form" type="text" name="dataNasc" placeholder="Data de Nascimento:" [ngModel]="usuario.dataNasc"> </ion-input>
    <ion-input class="form" type="text" name="descricao" placeholder="Descrição:" [ngModel]="usuario.descricao" ></ion-input> 
    <ion-input class="form" type="text" name="descricao" placeholder="Escolha uma senha:" [ngModel]="usuario.password" ></ion-input> 

<ion-button type="submit" (click)="cadastro()" [disabled]="!formGroup.valid">Cadastrar</ion-button>
 </form>

</ion-content>
