<ion-header>
  <ion-toolbar>
    <ion-title>Pagina de Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form>
     <ion-input class="form" type="text" name="nome" placeholder="Nome"></ion-input>
     <ion-input class="form" type="text" name="cpf" placeholder="CPF"></ion-input>
     <ion-input class="form" type="text" name="email" placeholder="E-mail"></ion-input>

  </form> -->
  <ion-card>
    <img class="img" src="/assets/contato.avif">
    <ion-card-title class="titulo">
      Agradecemos o seu Contato
    </ion-card-title>
    <ion-card-header>
      <form>
        <ion-input class="form" type="text" name="nome" placeholder="Nome:"></ion-input>
        <ion-input class="form" type="text" name="cpf" placeholder="CPF:"></ion-input>
        <ion-input class="form" type="text" name="email" placeholder="E-mail:"></ion-input>
        <ion-card>
        <ion-input class="form" type="text" name="menssagem" placeholder="Sua Menssagem:"></ion-input>
      </ion-card>
     </form>
     <br>--------------------------------------------
     <br>
     <br>
     <ion-icon class="icon" name="call"></ion-icon>
     <ion-label>Celular1: <a href="https://web.whatsapp.com/">(21) 99213-5211</a></ion-label>
     <br>
     <br>
     <ion-icon class="icon" name="mail"></ion-icon>
     <ion-label>E-mail: <a href="https://mail.google.com/mail/u/0/#inbox">LSNparking@gmail.com</a></ion-label>
    </ion-card-header>
  </ion-card>

  

</ion-content>
